<!-- /*tiulo* -->

<div class="container">
  <nav class="navbar">
    <div class="col-12 mt-3"><h1>FELIZ DIA DEL PADRE CARLITOS</h1></div>
    <div class="div">
      <img class="corazon" src="../assets/imagenes/corazonu.png" alt="" />
    </div>
    <div class="div">
      <img class="corazon" src="../assets/imagenes/corazonu.png" alt="" />
    </div>
    <!-- Navbar content -->
  </nav>
  <div class="row mt-3 align-items-start"></div>
  <div class="col-12">
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade mt-3 mb-5"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../assets/imagenes/dos.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../assets/imagenes/tres.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../assets/imagenes/uno.jpg"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="col-12"></div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="../assets/imagenes/cuatro.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">¡TE AMAMOS!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img
          src="../assets/imagenes/cinco.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">DIOS TE BENDIGA SIEMPRE</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/imagenes/seis.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">FELIZ DIA!!!!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- /*fotos*/ -->
</div>
